<% content_for :head do %>
  <% # data-turbolinks-track" => 'reload' 必ず再読み込みさせる %>
  <%= stylesheet_link_tag 'plugins/image-picker/image-picker.css', 'data-turbolinks-track' => 'reload' %>
  <%= stylesheet_link_tag 'admin/modal.css', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'plugins/image-picker/image-picker.js', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'admin/modal.js', 'data-turbolinks-track' => 'reload' %>
<% end %>



<h1>Home#index</h1>
<p>Find me in app/views/front/home/index.html.erb</p>


