<% content_for :head do %>
  <% # data-turbolinks-track" => 'reload' 必ず再読み込みさせる %>
  <%= javascript_pack_tag 'home', 'data-turbolinks-track': 'reload' %>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/front/home/index.html.erb</p>

<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
</div>